.header-bar{
    background-color: #FFCD00;
    padding: 1%;
    padding-bottom: 0;
    color: #000000;
}
.badge-img {
    width: 5%;
    height: auto;
}
.title-container {
    display: flex;
    
}
.title {
    font-family: Zilla Slab, Zilla-fallback, serif;/* font-family: "Times New Roman", Times, serif; */
    letter-spacing: 0;
    line-height: 1;
    font-size: clamp(2.3rem, calc(2.3662vw + 1.4127rem), 3.35rem);
    margin-top: .625rem;
    margin-bottom: .625rem;
    font-weight: 600;
    padding-left: 1%;
}
.nav-bar-list {
    list-style-type: none;
    overflow: hidden;
    margin-top: 2%;
}
    
.nav-bar-list li{
    float: left;
    background-color: #000000;
}
.nav-bar-list li a {
    color: white;
    text-decoration: none;
    padding: 30px;
}
/* UIOWA APPROVED COLORS */
/* Black: #000000 USE GOLD BADGE*/
/* Gold: #FFCD00 USE BLACK BADGE WITH GOLD UIOWA*/