.news-and-events-main {
    margin: 0px 8% 2% 8%;   
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    gap: 20px;
}

.panel-title {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px 0;
    font-weight: 500;
    line-height: 1.1;
    font-size: 22px;
    color: #555;
}

.panel {
    background-color: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.news-panel {
    background-color: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    grid-column: 1 / 1; 
    grid-row: 1 / 1;
}

.news-panel p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    padding: 20px 30px;
}

.events-panel p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    padding: 20px 30px;
}

.calendar-panel h4{
    
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.428571429;
    color: #555;
    padding: 10px 15px;
    margin-bottom: 0px;
}

.calendar-panel p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    padding: 20px 30px;
    margin-top: 0px;
    
}
.calendar-panel {
    grid-row: 3 / 3; 
    grid-column: 1/ 1;
}

.stats-panel{
    grid-row: 1/ 4; 
    grid-column: 2 / 2;
}

.join-panel {
    background-color: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    grid-column: 1 / 2; 
    grid-row: 2 / 2;
}

.join-panel p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    padding: 20px 30px;
}